<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaee.demo.mapper.AuditorMapper">

    <select id="findAuditor" parameterType="com.javaee.demo.po.Auditor" resultType="com.javaee.demo.po.Auditor">
        SELECT * FROM s_auditor
        WHERE
        <if test="aaUsername != null and aaUsername != ''">
            aa_username = #{aaUsername}
        </if>
        <if test="aaPassword != null and aaPassword != ''">
            AND aa_password = #{aaPassword}
        </if>
    </select>

    <!-- 添加审核人信息 -->
    <insert id="addAuditor" parameterType="com.javaee.demo.po.Auditor" keyProperty="aaId" useGeneratedKeys="true">
        INSERT INTO s_auditor (aa_username, aa_password, aa_name, aa_describe)
        VALUES (#{aaUsername}, #{aaPassword}, #{aaName}, #{aaDescribe})
    </insert>

    <!-- 通过id删除审核人信息 -->
    <delete id="deleteAuditor" parameterType="java.math.BigInteger">
        DELETE FROM s_auditor WHERE aa_id = #{aaId}
    </delete>

    <select id="findAuditorById" parameterType="java.math.BigInteger" resultType="com.javaee.demo.po.Auditor">
        SELECT * FROM s_auditor WHERE aa_id = #{aaId}
    </select>

    <select id="getAll" resultType="com.javaee.demo.po.Auditor">
        SELECT * FROM s_auditor;
    </select>

    <!-- 修改审核人信息 -->
    <update id="updateAuditor" parameterType="com.javaee.demo.po.Auditor">
        UPDATE s_auditor
        <set>
            <if test="aaUsername != null and aaUsername != ''">
                aa_username = #{aaUsername},
            </if>
            <if test="aaPassword != null and aaPassword != ''">
                aa_password = #{aaPassword},
            </if>
            <if test="aaName != null and aaName != ''">
                aa_name = #{aaName},
            </if>
            <if test="aaDescribe != null and aaDescribe != ''">
                aa_describe = #{aaDescribe},
            </if>
        </set>
        WHERE aa_id = #{aaId}
    </update>

</mapper>
